pathdef.m
GazePoint User Data/Prelim Testing May '24/NewProject.prj
GazePoint User Data/Prelim Testing May '24/result/Data_Summary_export_05-30-24-14.26.25.csv
GazePoint User Data/Prelim Testing May '24/result/Data_Summary_export_05-31-24-11.27.07.csv
GazePoint User Data/Prelim Testing May '24/result/Data_Summary_export_06-03-24-10.50.54.csv
GazePoint User Data/Prelim Testing May '24/result/User 0_all_gaze.csv
GazePoint User Data/Prelim Testing May '24/result/User 0_fixations.csv
GazePoint User Data/Prelim Testing May '24/result/User 1_all_gaze.csv
GazePoint User Data/Prelim Testing May '24/result/User 1_fixations.csv
GazePoint User Data/Prelim Testing May '24/result/User 3_all_gaze.csv
GazePoint User Data/Prelim Testing May '24/result/User 3_fixations.csv
GazePoint User Data/Prelim Testing May '24/result/User 6_all_gaze.csv
GazePoint User Data/Prelim Testing May '24/result/User 6_fixations.csv
GazePoint User Data/Prelim Testing May '24/user/0000-face.avi
GazePoint User Data/Prelim Testing May '24/user/0000-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0000-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/0001-face.avi
GazePoint User Data/Prelim Testing May '24/user/0001-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0001-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/0002-face.avi
GazePoint User Data/Prelim Testing May '24/user/0002-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0002-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/0003-face.avi
GazePoint User Data/Prelim Testing May '24/user/0003-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0003-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/0004-face.avi
GazePoint User Data/Prelim Testing May '24/user/0004-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0004-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/0005-face.avi
GazePoint User Data/Prelim Testing May '24/user/0005-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0005-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/0006-face.avi
GazePoint User Data/Prelim Testing May '24/user/0006-scrn.avi
GazePoint User Data/Prelim Testing May '24/user/0006-user.yml.gz
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-10.36.11.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-10.36.18.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-10.54.25.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-13.11.17.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-13.11.33.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-13.49.27.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-27-14.38.40.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-13.13.53.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-13.17.48.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-14.17.40.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-14.18.23.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-14.18.27.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-14.18.30.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-14.18.34.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-30-14.18.35.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-11.00.57.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-11.01.00.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-11.24.57.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-11.26.47.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-12.25.52.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-12.25.53.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-05-31-12.25.56.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.12.51.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.15.50.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.15.58.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.50.08.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.50.09.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.50.17.prj.bak
GazePoint User Data/Prelim Testing May '24/user/backup/NewProject.prj-24-06-03-10.50.23.prj.bak
